.instruction-container {
  width: 100%;
  padding: 80px 20px;
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box; /* upewnia się że padding nie rozszerza kontenera */
  overflow-x: hidden;     /* zabezpiecza przed wystawaniem */
}


.instruction-container h2 {
  font-size: 48px;
  color: #004FC5;
  margin-bottom: 80px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 równe kolumny */
  gap: 200px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  margin: 0 auto;
}

.icon {
  font-size: 96px;
  color: #004FC5;
  margin-bottom: 20px;
}

.step p {
  font-size: 24px;
  color: #333;
  margin: 0;
  font-weight: 500;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

